body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 10px; 
    border: 3px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}
